* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

*.exe binary
*.gif binary
*.jpeg binary
*.jpg binary
*.phar binary
*.png binary
*.webp binary
*.zip binary

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
